h1 {
  text-align:center;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 0;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
}

figcaption {
  width:85vw;
  margin-bottom:0;
}

.icon-box {
  margin:0;
  margin-left:2.5vw;
  width:85vw;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon-box *{
  width:16px;
}

.fa-linkedin {
  background: #007bb5;
  color:white;
}

.fa-github {
  color:white;
  background: #24292e;
}

.jquery-img {
  height: 16px;
  width:16px;
}

.express-img {
  height: 16px;
  width:16px;
}

.postgresql-img {
  height: 16px;
  width:16px;
}

.buttonBox {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  height:10vh;
  width:auto;
}

.button {
  margin-left:2.5vw;
  padding: 8px;
  background-color: #261E2B;
  border: 1px solid grey;
  width:auto;
}

.linebreak {
  height:3px;
  width:80vw;
  background-color: #007BB5;
  margin:5vh;
}

@media (min-width: 760px) {
  .icon-box *{
    font-size: 20px;
    width: 20px;
    height: 21px;
    margin-left: 10px;
  }
  h1 {
    font-size: 30px;
  }
  .buttonBox {
    height:5vh;
  }
}

@media (min-width:1025px) {
  .buttonBox * {
    margin-left: 2.5vw;
  }
  .livelink {
    margin-left: 10px;
  }
  .projects * {
    width:70vw;
  }
  figcaption {
    padding-right: 5vw;
    margin-left: 5vw;
  }
  .icon-box * {
    width:20px;
  }
  .projectimg {
    width:70vw;
  }
  .linebreak {
    width: 50vw;
  }
}