header {
  margin:0;
  top:0;
  padding:0;
  height:7.5vh;
  width:100vw;
  position:fixed;
  border: 1px solid black;
  background-color: #261E2B;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height:inherit;
  width:inherit;
}

li {
  display: inline;
  line-height:7.5vh;
  flex-grow:1;
  text-align: center;
  font-weight: bold;
}

li:hover {
  background-color:black;
  color:white;
  cursor: pointer;
}

a {
  text-decoration:none;
}

.header-button {
  height:7.5vh;
  margin:0;
}

@media (min-width: 760px) {
  header *{
    font-size: 25px;
  }
}

@media (min-width:1025px) {
  header {
    display:flex;
    justify-content: center;
  }
  header *{
    font-size: 28px;
  }
  ul {
    width: 50vw;
  }
}